.Burger{
    width: 350px;
    height: 300px;
    margin: auto;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 300px) and (max-height: 600px){
    .Burger{
        width: 250px;
        height: 300px;

    }
}

