.Toolbar {
    width: 100%;
    height: 56px;
    z-index: 90;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0 20px;
    background-color: #703B09;
    box-sizing: border-box;
}

.Toolbar nav{
    height: 100%;
}

.DrawerToggle {
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggle div {
    width: 90%;
    height: 3px;
    background-color: white;
}

@media (min-width: 700px) {
    .DrawerToggle {
        display: none;
    }
}

@media(max-width: 700px){
    .DesktopOnly{
        display: none;
    }
}

