.Toolbar {
    width: 100%;
    height: 56px;
    z-index: 90;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0 20px;
    background-color: #703B09;
    box-sizing: border-box;
}

.Toolbar nav{
    height: 100%;
}

@media(max-width: 700px){
    .DesktopOnly{
        display: none;
    }
}